ul {
    list-style-type: none;
    margin: 0;padding: 0;
}

li {
    background: #77aaFF;
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 7px;
    display: grid;
    grid-template-columns: 60px auto;
    transition: 0.4s;
}

li:hover {
    background: #8E2BFF;
}

p {
    font-weight: bold;
    margin-left: 20px;
}
    